.doctor-profile {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  .doctor-profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .doctor-profile-picture {
      width: 90px;
      height: 90px;
      border-radius: 10px;
      margin-bottom: 10px;
      border: 3px solid #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    .doctor-profile-name {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;

      .greeting {
        font-weight: bold;
      }

      .name {
        color: #4e5faf;
      }
    }
  }

  .doctor-profile-details {
    .contact-info {
      display: flex;
      align-items: center;
      padding: 3px;
      font-size: 12px;
      color: #333;
      justify-content: flex-start;
      width: 100%;
      box-sizing: border-box;

      .contact-icon {
        margin-right: 100px;
      }

      .contact-value {
        margin-left: 4px;
        word-wrap: break-word;
        word-break: break-all;
        overflow-wrap: break-word;
        hyphens: auto;
      }
    }
  }

  .doctor-schedules {
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    .doctor-profile-header {
      flex-direction: column;
    }
  }
}

////------------------patient profile///////////////////

.patient-profile {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px 10px 20px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  .patient-profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    .patient-profile-picture {
      width: 90px;
      height: 90px;
      border-radius: 10px; // Make the profile picture boundary square
      margin-bottom: 10px;
      border: 3px solid #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); // Add black shadow
    }

    .patient-profile-name {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;

      .dear {
        font-weight: bold;
      }

      .name {
        color: #4e5faf;
      }
    }
  }

  .patient-profile-details {
    .contact-item {
      display: flex;
      align-items: center;
      padding: 3px;
      font-size: 12px; // Smaller font size for contact values
      color: #333;
      justify-content: flex-start;
      width: 100%;
      box-sizing: border-box;

      .contact-icon {
        margin-right: 100px;
      }

      .contact-value {
        margin-left: 4px;
        word-wrap: break-word;
        word-break: break-all;
        overflow-wrap: break-word;
        hyphens: auto;
      }
    }
  }

  @media (max-width: 600px) {
    .patient-profile-header {
      flex-direction: column;
    }
  }
}
