.DoctorDashboard-container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.DoctorContent-column {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  flex: 1;
}

.DoctorContent-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.DoctorContent-left {
  padding: 20px;
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DoctorContent-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DoctorDashboard-image {
  max-width: 100%;
  height: auto;
}

.DoctorDashboard-content {
  text-align: left;
}

.DoctorDashboard-title {
  font-size: 25px;
  color: #4e5faf;
  margin-bottom: 30px;
}

.DoctorDashboard-text {
  margin-left: 40px;
  .DoctorDashboard-message1 {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
  }
  .DoctorDashboard-message {
    font-size: 15px;
    color: #333;
    margin-top: 10px;
  }
}

.DoctorIcon {
  font-size: 1.5rem;
  color: #4e5faf;
  margin-right: 10px;
}

.DoctorProfile-column {
  display: flex;
  align-items: flex-start;
  width: 200px;
}

.DoctorList-container {
  height: 200px; /* Adjust height as needed */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.DoctorListCard {
  margin-bottom: 20px; /* Space between cards */
}
