.ovCard1Main {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #454545;
  border-radius: 8px;
  padding: 16px 16px 16px 16px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);
  height: 100%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--primary_color);
  }

  .ovCard1Cons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 14px;
    align-items: flex-end;
  }
  .ovCard1UpperCon {
    display: flex;
    justify-content: space-between;
  }

  .ovCard1LowerCon {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .ovCard1Title {
    font-family: "poppinsSemiBold";
    color: white;
    font-size: 20px;
  }

  .ovCard1Unit {
    font-size: 14px;
    color: white;
    margin: 0px 5px 0px 5px;
  }
  .ovCard1Value {
    font-size: 24px;
    margin-top: 5px;
    color: white;
  }
}

.overviewCommonCardCon {
  background-color: var(--w1);
  border-radius: 8px;
  padding: 24px 16px 24px 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 20px;
  }
}

//........................overview card 2 scss...............................
.ovCard2Main {
  background: linear-gradient(135deg, #2a2a2a, #4e5faf); // Gradient background
  border-radius: 12px; // Rounded corners
  padding: 20px; // Padding for spacing
  display: flex;
  flex-direction: column;
  cursor: pointer; // Indicate clickable
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); // Depth shadow
  transition: background 0.3s ease, box-shadow 0.3s ease; // Smooth transitions

  &:hover {
    background: linear-gradient(135deg, #1a1a1a, #4e5faf); // Gradient on hover
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); // Enhanced shadow on hover
  }
}

.valueBoxCol {
  display: flex;
  align-items: center; // Center vertically
  justify-content: center; // Center horizontally
}

.valueBox {
  display: flex;
  align-items: center;
  justify-content: center; // Center-align the count inside the box
  background-color: #333333; // Darker background for value box
  border-radius: 12px; // Rounded corners
  padding: 12px 24px; // Padding inside the box
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Subtle shadow for depth
}

.titleCol {
  display: flex;
  flex-direction: column;
  align-items: center; // Center vertically
  justify-content: center; // Center horizontally
  text-align: center; // Center-align text
}

.titleCol .titleAndMessage h4 {
  font-size: 22px; // Title font size
  font-weight: 700; // Bold title
  margin-bottom: 12px; // Space below the title
}

.titleCol .titleAndMessage p {
  font-size: 18px; // Message font size
  font-weight: 400; // Normal weight
  line-height: 1.5; // Improve readability
}

.valueBox span {
  font-size: 36px; // Font size for emphasis
  color: white;
  font-weight: 700; // Bold for emphasis
}
