.doctorListCard {
  background: linear-gradient(135deg, #4e5faf, #2a3b8f);
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  position: relative;
  overflow: hidden; /* Ensure content stays within bounds */
  width: 100%; /* Full width for responsiveness */
  max-width: 350px; /* Maximum width for the card */
  margin: 0 auto; /* Center the card horizontally */

  &:hover {
    cursor: pointer;
    box-shadow: 0 12px 24px rgba(235, 36, 36, 0.3);
    background: linear-gradient(135deg, #4e5faf, #2a3b8f);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        135deg,
        rgba(255, 0, 0, 0.5),
        rgba(255, 0, 0, 0.2)
      );
      z-index: 1;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    .additionalIcons {
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }
  }

  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .detailsColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px; /* Space below details column */
  }

  .valueColumn {
    display: flex;
    flex-direction: column;
  }

  .ratingContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
  }

  .reviewsContainer {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
  }

  .description {
    margin-top: 5px;
    overflow: hidden; /* Ensure text does not overflow */
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .additionalIcons {
    display: flex;
    gap: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  @media (max-width: 768px) {
    .additionalIcons {
      justify-content: center;
      width: 100%;
      margin-top: 15px;
      position: relative;
      bottom: auto;
      left: auto;
      transform: none;
    }
  }
}
